*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(StocksBackground.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: aboslute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ffffff;
    background: transparent;
    color: #fff;
    cursor: pointer;   
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5sl

}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}


.timer {
    width: 450px;
    height: auto;
    padding: 10px;
    margin: 20px 475px; 
    text-align: center;
    outline: solid 1px white;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    border-radius: 20px;

  }





  * {
    font-size: 62, 5%;
    box-sizing: border-box;
    margin: auto;
  }
  
  body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #fbfaff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main {
    width: 40rem;
    height: 43rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
  }
  
  #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 2rem;
  }
  
  

  
  h1 {
    font-family: "Rubik", sans-serif;
    font-size: 1.7rem;
    color: #141a39;
    text-transform: uppercase;
    cursor: default;
  }
  
  #leaderboard {
    width: 75%;
    position: relative;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
  }
  
  tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
  }
  
  tr:not(:first-child):hover {
    background-color: #fff;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
  }
  
  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  tr:nth-child(even) {
    background-color: #e0e0e0;
  }
  
  tr:nth-child(1) {
    color: #fff;
  }
  
  td {
    height: 5rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: relative;
  }
  
  .number {
    width: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
  }
  
  .name {
    text-align: left;
    font-size: 1.2rem;
  }
  
  .points {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end; /* This ensures content is aligned to the right */
    align-items: center;
    width: 100%; /* Ensure it takes full width to push content to the right */
}
  
  .points:first-child {
    width: rem;
  }
  
  .gold-medal {
    height: 3rem;
    margin-left: 1.1rem;
  }
  
  .ribbon {
    width: 69rem;
    height: 5.5rem;
    top: -0.5rem;
    background-color: #3ac2d8;
    position: absolute;
    left: -1rem;
    -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
    box-shadow: 0px 15px 11px -6px #7a7a7d;
  }
  
  .ribbon::before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    left: 0.35rem;
    transform: rotate(45deg);
    background-color: #3ac2d8;
    position: absolute;
    z-index: -1;
  }
  
  .ribbon::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    right: 0.35rem;
    transform: rotate(45deg);
    background-color: #3ac2d8;
    position: absolute;
    z-index: -1;
  }
  
  
  
  @media (max-width: 740px) {
      * {
        font-size: 70%;
      }
  }
  
  @media (max-width: 500px) {
      * {
        font-size: 55%;
      }
  }
  
  @media (max-width: 390px) {
      * {
        font-size: 45%;
      }
  }
